name: Use Action

on:
  push:
    branches:
      - 'main'

jobs:
  use-action:
    name: Use Action

    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - macos-latest

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: '1.26'
          check-latest: 'true'

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: StevenACoffman/setup-docker-credential-gcr@main
      - run: docker-credential-gcr version

      - name: Install old release
        uses: StevenACoffman/setup-docker-credential-gcr@main
        with:
          version: v0.0.2

      - run: docker-credential-gcr version
      - name: Check installed version
        run: docker-credential-gcr version | grep 0.8.0

      - name: Install from tip
        uses: StevenACoffman/setup-docker-credential-gcr@main
        with:
          version: tip

      - name: Check installed version (tip)
        run: |
          sudo rm /usr/local/bin/docker-credential-gcr # Uninstall previous versions.
          docker-credential-gcr version
