name: Use Action

on:
  push:
    branches:
      - 'main'

jobs:
  use-action:
    name: Use Action

    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - macos-latest

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.25'
          check-latest: 'true'

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: StevenACoffman/setup-docker-credential-gcr@main
      - run: docker-credential-gcr version

      - name: Install old release
        uses: StevenACoffman/setup-docker-credential-gcr@main
        with:
          version: v0.0.2

      - run: docker-credential-gcr version
      - name: Check installed version
        run: docker-credential-gcr version | grep 0.8.0

      - name: Install from tip
        uses: StevenACoffman/setup-docker-credential-gcr@main
        with:
          version: tip

      - name: Check installed version (tip)
        run: |
          sudo rm /usr/local/bin/docker-credential-gcr # Uninstall previous versions.
          docker-credential-gcr version
